.container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.nav{
    width: 100%;
    display: flex;
     align-items: center;
     justify-content: space-between;
       background-color:  #2D1A05;
}
.nav img{
    width: 120px;
    height: 120px;
}
.left{
    display: flex;
    align-items: center;
    
}
.test {
 font-size: 35px;
 font-family:lora;
 color: rgb(239, 214, 172);
 display: flex;
 gap: 15px;
}
.navlinks{
    display: flex;
    gap: 20px;
}
.link {
    color: rgb(239, 214, 172);
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
    
    
    
}
.link:hover{
    color: #f7efe7;
}
.header{
    width: 100%;
}
.bannerimg{
    width: 100%;
    height: auto;
}
.container1{
    background-color:  rgb(28, 16, 1) ;
    margin:0%;
    padding: 0%;
    
} 
.heading{
text-align: center;
font-size: 60px;
color: rgb(239, 214, 172);

}
.card-wrapper{
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    border-radius: 50px;
    flex-wrap: wrap;
}
.card1 img{
    width: 350px;
    height: 400px;
    border-radius: 25px;
    
}
.card1{
    background-color: #e6d6c7;
    border-radius: 25px;
   overflow: hidden;
    
}

.card1:hover{
      transform: scale(1.05); /* Make the card slightly larger */
}
.card1 h2{
    color: #221102;
    text-align: center;
    font-size: 35px;

}
.buy-btn {
background-color: #221102;
border-radius: 30px;
font-size: 16px;
border: none;
padding: 12px 28px;
cursor: pointer;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
transition: all 0.3s ease;
color: #e6d6c7;
margin-left: 80px;
}
.buy-btn:hover{
      transform: scale(1.05); /* Make the card slightly larger */
}
.container2{
    background-color:  rgb(28, 16, 1);
}
.card-wrapper{
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    border-radius: 50px;
    flex-wrap: wrap;
}
.card2 img{
    width: 350px;
    height: 400px;
    border-radius: 25px;
    
}

.card2{
    background-color: #e6d6c7;
    border-radius: 25px;
   overflow: hidden;
    
}
.card2:hover{
      transform: scale(1.05); /* Make the card slightly larger */
}
.card2 h2{
   font-size: 25px;
    color: #2D1A05;
    text-align: center;
}
.footer {
  background-color:rgb(28, 16, 1) ; /* coffee brown */
  color: #fff;
  padding: 40px 20px 10px;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo img {
  width: 100px;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-contact {
  list-style: none;
  padding: 0;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #ffffff33;
  padding-top: 10px;
  font-size: 14px;
}










